.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
}

.interaction-container {
    margin: auto;
}

.input-group {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 10px;
}