name: Github Release

on:
  workflow_call:
    inputs:
      release-version:
        description: 'Release version'
        type: string
        required: true

jobs:
  github-release:
    name: Create Release
    runs-on: ubuntu-latest
    steps:
      - name: PREP / Checkout code
        uses: actions/checkout@v4

      - name: GIT / Create tag
        uses: actions/github-script@v7
        with:
          script: |
            github.rest.git.createRef({
              owner: context.repo.owner,
              repo: context.repo.repo,
              ref: 'refs/tags/${{ inputs.release-version }}',
              sha: context.sha
            })
      - name: GIT / Create GitHub Release
        id: create_release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ inputs.release-version }}
          draft: false
          prerelease: false
          generate_release_notes: true
