name: Release services

on:
  workflow_call:
    inputs:
      docker-release-version:
        description: 'Services release version'
        type: string
        required: false
      snapshot-release:
        description: 'Snapshot release?'
        type: boolean
        required: true
        default: false
      maven-release:
        description: 'Release maven'
        type: boolean
        required: true
        default: true
      docker-release:
        description: 'Release docker images'
        type: boolean
        required: true
        default: true

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - name: PREP / Check out Git repository
        uses: actions/checkout@v4
      - name: PREP / Install Java and Maven
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'adopt'

      - name: BUILD / Build with Maven
        run: |
          chmod +x ./mvnw
          ./mvnw --batch-mode clean install

      - name: COVERAGE / Upload coverage to Codecov
        uses: codecov/codecov-action@v4
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          fail_ci_if_error: false
          files: ./coverage/target/coverage/jacoco.xml
          flags: unittests
          name: miranum
          verbose: true

  release:
    runs-on: ubuntu-latest
    needs: build-and-test
    if: inputs.maven-release == true
    steps:
      - name: PREP / Check out Git repository
        uses: actions/checkout@v4
      - name: PREP / Install Java and Maven
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'adopt'
          server-id: "ossrh"
          server-username: MAVEN_USERNAME
          server-password: MAVEN_PASSWORD
          gpg-private-key: ${{ secrets.PGP_PRIVATE_KEY }}
          gpg-passphrase: MAVEN_GPG_PASSPHRASE

      - name: RELEASE / Remove SNAPSHOT
        if: inputs.snapshot-release == false
        run: |
          chmod +x ./mvnw
          ./mvnw versions:set --batch-mode -DremoveSnapshot -DprocessAllModules

      - name: RELEASE / Build and Release Maven
        run: |
          ./mvnw --batch-mode --no-transfer-progress deploy --activate-profiles deploy -DskipTests
        env:
          MAVEN_USERNAME: ${{ secrets.nexus_username }}
          MAVEN_PASSWORD: ${{ secrets.nexus_password }}
          MAVEN_GPG_PASSPHRASE: ${{ secrets.PGP_PRIVATE_KEY_SECRET }}
